.feat-image-modal {
  width: 80%;
  height: 60%;
  text-align: center;
  justify-content: center;
  background-color: black;
  position: fixed;
  z-index: 500;
  border: 3px solid white;
  left: 10%;
  top: 5%;
}

.modal-body {
  height: 90%;
  width: 90%;
  background-color: black;
  opacity: 1;
  text-align: center;
  justify-content: center;
}

.modal-img {
  height:inherit;
  width: inherit;
}

.modal-close {
  height: 10px;
  width: 10px;
  float: right;
  background-color: red;
  color: white;
}
