
main {
  max-width: 900px;
}

header#portfolio-header {
  /*Photo by adrian on Unsplash*/
  background: url(images/background-image.jpg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
  color: white;
}

h1 {
  color: hsla(120, 3%, 16%, 0.9);
  font-weight: bold;
}

#slogan {
  color: hsla(120, 3%, 16%, 0.65);
  font-weight: lighter;
  font-size: 2.6rem;
}

.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;
}

footer#connect {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#footer-links {
  margin: auto;
  font-size: 3rem;
}

@media screen and (max-width: 1024px) {
  header#portfolio-header {
    display: flex;
  }
}
