
<div class="feat-image-modal">
  <div class="modal-container">
  <div class="modal-header">
    <h2 class="modal-title">test</h2>
  </div>
  <h3 class="modal-subtitle">test</h3>
  <div class="modal-body">
    <img ng-src="{{imgCtrl.imagePath}}" style="width:80%" >
    <!-- imgCtrl.imagePath<input type="text" ng-model="newRoom.newRoomInput" placeholder="Name your room" class="new-room-input" ng-keypress="$event.keyCode == 13 && newRoom.addRoom(newRoom.newRoomInput)" '/pomTimer/pomTimerBreak.png'> -->
  </div>
  <div class="modal-footer">
    <!-- <button class="btn btn-primary" type="button" ng-click="ok()">OK</button> -->
    <button class="btn btn-warning" type="button" ng-click="imgCtrl.ok()">Close</button>
  </div>
</div>
</div>
